@{
    ViewBag.Title = "Ryhmä Ry - Jäseneksi";
}
<h2>Haluatko jäseneksi?</h2>


<p>Kaikkien jäsenten pitää olla vähintään 18 vuotiaita.</p>
<p>Kukaan ei voi liittyä ilman nykyisen jäsenen suositusta.</p>
